.hero {
  width: 100%;
  height: 120%;
  background-size: cover;
  background-position: center center; 
  margin-top: 60px;background-color: black;
  opacity: 0.8;
  .hero-blurb {
    text-align: center;
    h1 {
      padding-top: 50px;
      &:after {
        content: ' ';
        max-width: initial;
        display: block;
        height: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: $green;
      }
    }
    h2 {
      margin-top: -30px;
      color: white;
      &:after {
        content: ' ';
        max-width: initial;
        display: none;
        height: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  p {
    text-align: center;
    padding-top: 20px;
    width: 1000px;
    margin-left: -92px;
    font-size: 19px;
    font-weight: 300;
  }
}

.bio-pic {
  padding-left: 20px;
  .pic {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 25%;
    height: 400px;
    float: left;
  }
  h3 {
    width: 74.6%;
    float: right;
    text-align: justify;
    padding-top: 5px;
    margin-left: -15px;
    margin-right: 3px;
    padding-right: 45px;
    padding-left: 25px;
  }
  h2 {
    @include clearfix;
    width: 100%;
    float:left;
    text-align: justify;
    margin-top: 10px;
    margin-right: 20px;
    padding-right: 45px;
    padding-left: 25px;
    font-family: $font;
    font-size: modular-scale(1);
    font-weight: 300;
    color: black;
    &:after {
      content: ' ';
      background-color: white;
    }
  }
  h4 {
    width: 100%;
    text-align: justify;
    /*padding-right: 45px;
    padding-left: 25px;*/
    font-family: $font;
    font-size: modular-scale(1);
    font-weight: 300;
    color: black;
  }

}
.paul-section {
  text-align: center;
  padding-top: 50px;
  /*padding-left: 40px;*/
  .pic {
    margin-top: 50px;
    margin-left: 39%;
    text-align: center;
    padding-top: 50px;
    width: 20.5%;
    height: 360px;
  }
  h3 {
    font-family: $font;
    font-size: modular-scale(0);
     padding-left: 12.3%;
  }
}

  .further_reading {
    position: relative;
    padding-top: 1800px;
    padding-left: 45px;
    h3{
      text-align: center;
      margin-left: -60px;
      color: $green;
      font-size: modular-scale(2);
    }
    h4{  
      text-align: center; 
      margin-left: -60px;
      color: $green;
      font-size: modular-scale(1);

    }
  }

.newsart_1 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic1 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    text-align: left;
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_2 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic2 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
   h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_3 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic3 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_4 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic4 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_5 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic5 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_6 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic6 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_7 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic7 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_8 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic8 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_9 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic9 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_10 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic10 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_11 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic11 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_12 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic12 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_13 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic13 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}
.newsart_14 {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;
  .pic14 {
    padding-top: 20px;
    padding-left: 10px;
    width: 15%;
    height: 27%;
    float: left;
  }
  h3 {
    margin-top: -21px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    width: 85%;
    float: right;
    text-align: justify;
  }
  h4 {
    @include clearfix;
    margin-top: 20px;
    font-size: modular-scale(2);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  p {
    text-align: left;
    font-size: modular-scale(1);
    font-weight: 400;
    color: white;
    padding-left: 17%;
  }
}

.link_0 {
  position: relative;
  display: inline-block;
  top: -25px;
  left: 75px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 239px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3 {
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
.link_1 {
  position: relative;
  display: inline-block;
  top: 20px;
  left: 50px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 239px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3 {
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
.link_2 {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 65px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 239px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3{
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
.link_3 {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 80px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 239px;
    height: 155px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3{
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}

.link_4 {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 50px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 250px;
    border-style: outset;
    border-color: #C0C0C0; 
    height: 160px;
  }
  h3 {
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
.link_5 {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 65px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 250px;
    border-style: outset;
    border-color: #C0C0C0; 
    height: 160px;
  }
  h3{
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
.link_6 {
  position: relative;
  display: inline-block;
  top: 40px;
  left: 80px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 239px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3{
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
  
.link_7 {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 50px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 249px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3 {
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
.link_8 {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 65px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 250px;
    border-style: outset;
    border-color: #C0C0C0; 
    height: 160px;
  }
  h3{
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
.link_9 {
  position: relative;
  display: inline-block;
  top: 50px;
  left: 80px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 239px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3{
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}

.link_10 {
  position: relative;
  display: inline-block;
  top: 30px;
  left: 50px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 239px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3 {
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
.link_11 {
  position: relative;
  display: inline-block;
  top: 30px;
  left: 65px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 239px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3{
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}
.link_12 {
  position: relative;
  display: inline-block;
  top: 80px;
  left: 80px;
  width: 30%;
  padding-bottom: 40px;
  .pic4 {
    width: 239px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3{
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}

.link_13 {
  position: relative;
  top: -215px;
  left: 34%;
  width: 30%;
  padding-bottom: 0px;
  .pic4 {
    width: 239px;
    height: 165px;
    border-style: outset;
    border-color: #C0C0C0; 
  }
  h3{
    width: 80%;
    padding-left: 20%;
  }
  h3:hover {
    color: $green;
  }
}

.contact {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  h3 {
    margin-right: 80px;
    margin-left: 80px;
    color: black;
    font-family: $font;
    font-size: 25px;
    &:hover {
      color: $green;
    }
  }
}
.footer {
  padding-left: 32%;
  h3 {
    text-align: center;
    font-size: 14px;
    width: 500px;
  }
}
.quotes {
  p {
    padding-top: 86px;
    padding-bottom: 65px;
    padding-left: 17px;
    color: $green;
    font-size: 20px;
    font-weight: 900;
    width: 1300px;
  }
}
.coming-soon {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 130px;
  font-size: modular-scale(1);
}




