.hero {
  @include span-columns(12);
  background-image: url("../images/duke-piano.jpg");
  background-repeat: no-repeat;
  background-position: center center; 
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 65px;
  .hero-blurb {
    @include outer-container;
    text-align: center;
    padding: 110px 10%;
    p {font-weight: 400;}
  }
  p {
    font-size: modular-scale(2);
    font-weight: 300;
    width: 100%;
    text-align: center;
  }
  p h1 { @include span-columns(12); }
  h1 {color: white;}
}
.bio-pic {
  padding-left: 22px;
  .pic {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
  }
  h3 {
    width: 98%;
    float: right;
  }
}
.newsart_1 {
  padding-left: 25px;
  padding-bottom: 20px;
  .pic1 {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
    height: 20%;
  }
  h3 {
    width: 98%;
    float: right;
    padding-left: 8px;
    padding-right: 8%;
    text-align: justify;
  }
  p {
    font-size: modular-scale(1);
    font-weight: 700;
    color: $green;
    padding-right: 30px;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
}
.newsart_2 {
  padding-left: 25px;
  padding-bottom: 20px;
  .pic2 {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
    height: 20%;
  }
  h3 {
    width: 98%;
    float: right;
    padding-left: 8px;
    padding-right: 8%;
    text-align: justify;
  }
  p {
    font-size: modular-scale(1);
    font-weight: 700;
    color: $green;
    padding-right: 30px;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
}
.newsart_3 {
  padding-left: 25px;
  padding-bottom: 20px;
  .pic3 {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
    height: 20%;
  }
  h3 {
    width: 98%;
    float: right;
    padding-left: 8px;
    padding-right: 8%;
    text-align: justify;
  }
  p {
    font-size: modular-scale(1);
    font-weight: 700;
    color: $green;
    padding-right: 30px;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
}
.newsart_4 {
  padding-left: 25px;
  padding-bottom: 20px;
  .pic4 {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
    height: 20%;
  }
  h3 {
    width: 98%;
    float: right;
    padding-left: 8px;
    padding-right: 8%;
    text-align: justify;
  }
  p {
    font-size: modular-scale(1);
    font-weight: 700;
    color: $green;
    padding-right: 30px;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
}

