.hero {
  @include span-columns(12);
  background-image: url("../images/duke-piano.jpg");
  background-repeat: no-repeat;
  background-size: 750px;
  background-position: -90 0;

  p h1 { @include span-columns(12); }
  h1 {color: white;}
}
.bio-pic {
  padding-left: 22px;
  .pic {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
  }
  h3 {
    width: 98%;
    float: right;
  }
}
.newsart_1 {
  padding-left: 25px;
  .pic1 {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
    height: 20%;
  }
  h3 {
    width: 98%;
    float: right;
    padding-left: 8px;
    padding-right: 8%;
    text-align: justify;
  }
}
.newsart_2 {
  padding-left: 25px;
  .pic2 {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
    height: 20%;
  }
  h3 {
    width: 98%;
    float: right;
    padding-left: 8px;
    padding-right: 8%;
    text-align: justify;
  }
}
.newsart_3 {
  padding-left: 25px;
  .pic3 {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
    height: 20%;
  }
  h3 {
    width: 98%;
    float: right;
    padding-left: 8px;
    padding-right: 8%;
    text-align: justify;
  }
}
.newsart_4 {
  padding-left: 25px;
  .pic3 {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%;
    height: 20%;
  }
  h3 {
    width: 98%;
    float: right;
    padding-left: 8px;
    padding-right: 8%;
    text-align: justify;
  }
}

