.col-sm-12 {
  width: 100%;
}
.orch {
  .orch-pic {
    padding-top: 15px;
    text-align: center;
  }
  h3 {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 24px;
  }
}
.schedule {
    padding-left: 130px;
    padding-right: 130px;
  .sections {
    .col-xs-4 {
      font-size: 24px;
      text-align: center;
      &:after {
        content: ' ';
        max-width: initial;
        display: block;
        height: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: $green;
      }
    }
  }
  .col-xs-4 {
    text-align: center;
    font-size: 15px;
  }
}
.ace {
  text-align: center;
  padding-top: 130px;
  padding-left: 230px;
  padding-right: 230px;
  padding-bottom: 20px;
  img {
    padding-top: 150px;
  }
}







