html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0; }

a {
  color: white;
  text-decoration: none; }

p > a, li a {
  color: #349bcc;
  text-decoration: underline; }

h1 {
  font-family: Josefin Sans;
  font-size: 5.61023em;
  font-weight: 700;
  color: white;
  z-index: 10; }

h2 {
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 300;
  color: black;
  text-align: center; }
  h2:after {
    content: ' ';
    max-width: initial;
    display: block;
    height: 6px;
    width: 33px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #349bcc; }

h3 {
  font-family: Josefin Sans;
  font-size: 1.333em;
  font-weight: 300;
  color: black; }

h4 {
  font-family: Josefin Sans;
  font-size: 1em;
  font-weight: 300;
  color: black; }

p {
  font-family: Josefin Sans;
  font-size: 1em;
  font-weight: 100;
  color: black; }

li {
  font-family: Josefin Sans;
  font-size: 1em; }
  li h3 {
    font-weight: 400; }
  li p {
    font-weight: 100; }

ul {
  font-family: Josefin Sans;
  font-weight: 400;
  color: black; }

small {
  font-family: Josefin Sans;
  font-size: 20px; }
  small:before {
    content: ' - ';
    max-width: initial;
    display: inline;
    color: #349bcc;
    padding-right: 5px; }

.application-steps ol {
  list-style: none;
  counter-reset: my-awesome-counter; }
  .application-steps ol li {
    margin-left: 10px;
    padding: 0px;
    counter-increment: my-awesome-counter;
    border-bottom: 1px solid white;
    line-height: 22px; }
    .application-steps ol li h3 {
      margin: 0;
      display: inline-block; }
    .application-steps ol li p {
      margin-top: 5px;
      padding-left: 0px; }
  .application-steps ol li:before {
    content: counter(my-awesome-counter);
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 12px -10px -50px;
    width: 35px;
    text-align: center;
    border-radius: 1in;
    border: 1.5px solid #349bcc;
    font-weight: 900;
    background-color: white; }

.hero-blurb p {
  color: white; }

section {
  padding: 25px 0; }

.quotes p {
  padding-left: 456px; }

.dropdown-content {
  display: none; }
  .dropdown-content::after {
    clear: both;
    content: "";
    display: table; }
  .dropdown-content h3 {
    padding-left: 25px;
    padding-right: 25px;
    width: 85%;
    float: right;
    text-align: justify; }

.hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-image: url("../images/duke-main.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 65px;
  float: none; }
  .hero:last-child {
    margin-right: 0; }
  .hero .hero-blurb {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 110px 10%; }
    .hero .hero-blurb::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-blurb p {
      font-weight: 400; }
  .hero p {
    font-size: 1.77689em;
    font-weight: 300;
    width: 100%;
    text-align: center; }
  .hero p h1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .hero p h1:last-child {
      margin-right: 0; }
  .hero h1 {
    color: white; }

.bio-pic {
  padding-left: 22px; }
  .bio-pic .pic {
    padding-top: 25px;
    padding-left: 4%;
    width: 90%; }
  .bio-pic h3 {
    text-align: justify;
    width: 98%;
    float: right;
    padding-left: 1px;
    padding-right: 30px; }
  .bio-pic h4 {
    text-align: justify;
    padding-left: 10px;
    width: 98%;
    font-family: Josefin Sans;
    font-size: 1.333em;
    font-weight: 300;
    color: black;
    padding-right: 20px; }

.paul-section {
  text-align: center;
  padding-top: 50px; }
  .paul-section .pic {
    text-align: center;
    padding-top: 25px;
    width: 35%;
    height: 250px; }

.newsart_1 {
  text-align: center;
  padding-bottom: 20px; }
  .newsart_1 .pic1 {
    padding-top: 25px;
    width: 60%;
    height: 25%; }
  .newsart_1 h3 {
    width: 98%;
    float: right;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: justify; }
  .newsart_1 h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 15%;
    width: 85%;
    /*float: right;*/ }
    .newsart_1 h4::after {
      clear: both;
      content: "";
      display: table; }
    .newsart_1 h4 small {
      /*padding-right: 60px;*/
      font-size: 16px; }
      .newsart_1 h4 small:before {
        content: ' - ';
        max-width: initial;
        display: inline;
        color: #349bcc;
        padding-right: 5px; }
  .newsart_1 p {
    font-size: 1.333em;
    font-weight: 700;
    color: #349bcc;
    padding-right: 30px;
    padding-left: 10%; }
    .newsart_1 p:hover {
      text-decoration: none; }

.newsart_2 {
  text-align: center;
  padding-bottom: 20px; }
  .newsart_2 .pic2 {
    padding-top: 25px;
    width: 60%;
    height: 25%; }
  .newsart_2 h3 {
    width: 98%;
    float: right;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: justify; }
  .newsart_2 h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 15%;
    width: 85%;
    /*float: right;*/ }
    .newsart_2 h4::after {
      clear: both;
      content: "";
      display: table; }
    .newsart_2 h4 small {
      /*padding-right: 60px;*/
      font-size: 16px; }
      .newsart_2 h4 small:before {
        content: ' - ';
        max-width: initial;
        display: inline;
        color: #349bcc;
        padding-right: 5px; }
  .newsart_2 p {
    font-size: 1.333em;
    font-weight: 700;
    color: #349bcc;
    padding-right: 30px;
    padding-left: 10%; }
    .newsart_2 p:hover {
      text-decoration: none; }

.newsart_3 {
  text-align: center;
  padding-bottom: 20px; }
  .newsart_3 .pic3 {
    padding-top: 25px;
    width: 60%;
    height: 25%; }
  .newsart_3 h3 {
    width: 98%;
    float: right;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: justify; }
  .newsart_3 h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 15%;
    width: 85%;
    /*float: right;*/ }
    .newsart_3 h4::after {
      clear: both;
      content: "";
      display: table; }
    .newsart_3 h4 small {
      /*padding-right: 60px;*/
      font-size: 16px; }
      .newsart_3 h4 small:before {
        content: ' - ';
        max-width: initial;
        display: inline;
        color: #349bcc;
        padding-right: 5px; }
  .newsart_3 p {
    font-size: 1.333em;
    font-weight: 700;
    color: #349bcc;
    padding-right: 30px;
    padding-left: 10%; }
    .newsart_3 p:hover {
      text-decoration: none; }

.newsart_4 {
  text-align: center;
  padding-bottom: 20px; }
  .newsart_4 .pic4 {
    padding-top: 25px;
    width: 60%;
    height: 25%; }
  .newsart_4 h3 {
    width: 98%;
    float: right;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: justify; }
  .newsart_4 h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 15%;
    width: 85%;
    /*float: right;*/ }
    .newsart_4 h4::after {
      clear: both;
      content: "";
      display: table; }
    .newsart_4 h4 small {
      /*padding-right: 60px;*/
      font-size: 16px; }
      .newsart_4 h4 small:before {
        content: ' - ';
        max-width: initial;
        display: inline;
        color: #349bcc;
        padding-right: 5px; }
  .newsart_4 p {
    font-size: 1.333em;
    font-weight: 700;
    color: #349bcc;
    padding-right: 30px;
    padding-left: 10%; }
    .newsart_4 p:hover {
      text-decoration: none; }

.link_1 {
  text-align: center;
  padding-bottom: 40px; }
  .link_1 .pic1 {
    width: 300px; }

.link_2 {
  text-align: center;
  padding-bottom: 40px; }
  .link_2 .pic2 {
    width: 300px; }

.link_3 {
  text-align: center;
  padding-bottom: 40px; }
  .link_3 .pic3 {
    width: 300px; }

.link_4 {
  text-align: center;
  padding-bottom: 40px; }
  .link_4 .pic4 {
    width: 300px; }

.contact {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 30px; }

.footer h3 {
  text-align: center;
  font-size: 14px;
  width: 100%; }

@media screen and (max-width: 750px) {
  .nav-bar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .nav-bar:last-child {
      margin-right: 0; }
    .nav-bar::after {
      clear: both;
      content: "";
      display: table; }
    .nav-bar .logo {
      width: 100%;
      height: 65px;
      z-index: 9;
      background-color: rgba(0, 0, 0, 0.7);
      top: 0px;
      left: 0px;
      position: fixed; }
      .nav-bar .logo p {
        color: #349bcc;
        font-size: 14px;
        width: 80;
        font-weight: 900;
        float: left;
        padding-left: 10px;
        margin-top: 8px; }
    .nav-bar nav button {
      float: right; }
    .nav-bar nav .nav-list {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      display: none; }
      .nav-bar nav .nav-list:last-child {
        margin-right: 0; }
      .nav-bar nav .nav-list ul {
        z-index: 9;
        padding-left: 0;
        padding-top: 10px;
        list-style-type: none;
        color: black;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        margin-bottom: 0px;
        padding-bottom: 2px;
        position: fixed;
        margin-top: 28px; }
      .nav-bar nav .nav-list li {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #000000;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #349bcc; }
        .nav-bar nav .nav-list li:last-child {
          border-bottom: none;
          padding-bottom: 1px; }
      .nav-bar nav .nav-list a {
        color: white;
        text-decoration: none; }
      .nav-bar nav .nav-list a:hover {
        color: #349bcc; }

  /*
  .hamburger {
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:0px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index: 10000000000000;
  } */
  .hamburgler-icon-wrapper {
    position: absolute;
    top: 100em;
    left: 1em;
    height: 26px;
    width: 26px;
    cursor: pointer; }

  .hamburgler-icon,
  .hamburgler-icon:before,
  .hamburgler-icon:after {
    content: '';
    position: absolute;
    border-radius: 1em;
    height: 2px;
    width: 26px;
    background: black;
    transition: all 0.2s ease; }

  .hamburgler-icon {
    top: 0.75em; }

  .hamburgler-icon:before {
    top: -0.55em; }

  .hamburgler-icon:after {
    top: 0.55em; }

  .hamburgler-active .hamburgler-icon {
    background: transparent;
    transform: rotate(-135deg); }

  .hamburgler-active .hamburgler-icon:before,
  .hamburgler-active .hamburgler-icon:after {
    top: 0; }

  .hamburgler-active .hamburgler-icon:before {
    transform: rotate(90deg); }

  .hamburgler-active .hamburgler-icon,
  .hamburgler-active .hamburgler-icon:before,
  .hamburgler-active .hamburgler-icon:after {
    background: white; }

  .hamburgler-menu {
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center; }

  .hamburgler-active .hamburgler-menu {
    opacity: 1;
    pointer-events: initial; }

  .hamburgler-menu-list {
    display: block;
    transition: all 0.4s ease;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2); }

  .hamburgler-active .hamburgler-menu-list {
    transform: translate(-50%, -50%) scale(1); }

  .schedule {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .schedule:last-child {
      margin-right: 0; }

  .orch .orch-pic {
    padding-top: 15px;
    text-align: center; }
    .orch .orch-pic img {
      width: 50%; }
  .orch h3 {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 24px; }

  .schedule {
    padding-left: 25px;
    padding-right: 25px; }
    .schedule .sections .top-dates {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      font-size: 24px;
      text-align: center; }
      .schedule .sections .top-dates:last-child {
        margin-right: 0; }
      .schedule .sections .top-dates:after {
        content: ' ';
        max-width: initial;
        display: block;
        height: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: #349bcc; }
    .schedule .sections .top-location {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      font-size: 24px;
      text-align: center; }
      .schedule .sections .top-location:last-child {
        margin-right: 0; }
      .schedule .sections .top-location:after {
        content: ' ';
        max-width: initial;
        display: block;
        height: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: #349bcc; }
    .schedule .sections .top-venue {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      font-size: 24px;
      text-align: center; }
      .schedule .sections .top-venue:last-child {
        margin-right: 0; }
      .schedule .sections .top-venue:after {
        content: ' ';
        max-width: initial;
        display: block;
        height: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: #349bcc; }
    .schedule .dates {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center;
      font-size: 15px; }
      .schedule .dates:last-child {
        margin-right: 0; }
      .schedule .dates h3 {
        padding-top: 2px;
        width: 119px;
        margin-right: 5%;
        margin-left: 8%;
        height: 75px; }
    .schedule .location {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center;
      font-size: 15px; }
      .schedule .location:last-child {
        margin-right: 0; }
      .schedule .location h3 {
        padding-top: 4px;
        /*width: 119px;*/
        margin-left: 10px;
        height: 75px; }
    .schedule .venue {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center;
      font-size: 15px; }
      .schedule .venue:last-child {
        margin-right: 0; }
      .schedule .venue h3 {
        padding-bottom: 4px;
        margin-left: 10px;
        padding-right: 10px;
        height: 75px; }

  .ace {
    text-align: justify;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px; }
    .ace h3 {
      text-align: justify; }
    .ace h4 {
      font-size: 22px; }
    .ace img {
      padding-top: 100px; } }
@media screen and (min-width: 750px) {
  .hero {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    margin-top: 60px; }
    .hero .hero-blurb {
      text-align: center; }
      .hero .hero-blurb h1 {
        padding-top: 90px; }
    .hero p {
      font-size: 1.77689em;
      font-weight: 300; }

  .bio-pic {
    padding-left: 20px; }
    .bio-pic .pic {
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 25px;
      padding-right: 25px;
      width: 30%;
      height: 400px;
      float: left; }
    .bio-pic h3 {
      width: 68.5%;
      float: right;
      text-align: justify;
      padding-right: 45px;
      margin-left: -15px; }
    .bio-pic h4 {
      width: 100%;
      text-align: justify;
      padding-right: 45px;
      padding-left: 25px;
      font-family: Josefin Sans;
      font-size: 1.333em;
      font-weight: 300;
      color: black; }

  .paul-section {
    text-align: center;
    padding-top: 50px; }
    .paul-section .pic {
      text-align: center;
      padding-top: 25px;
      width: 13%;
      height: 250px; }

  .newsart_1 {
    text-align: left;
    padding-left: 25px;
    padding-bottom: 20px; }
    .newsart_1 .pic1 {
      padding-top: 20px;
      padding-left: 10px;
      width: 15%;
      height: 27%;
      float: left; }
    .newsart_1 h3 {
      margin-top: -21px;
      margin-bottom: 15px;
      padding-left: 25px;
      padding-right: 40px;
      width: 85%;
      float: right;
      text-align: justify; }
    .newsart_1 h4 {
      text-align: left;
      margin-top: 20px;
      font-size: 1.77689em;
      font-weight: 400;
      padding-left: 25px;
      padding-right: 25px;
      width: 85%;
      float: right; }
      .newsart_1 h4::after {
        clear: both;
        content: "";
        display: table; }
    .newsart_1 p {
      text-align: left;
      font-size: 1.333em;
      font-weight: 400;
      color: #349bcc;
      padding-left: 17%; }
      .newsart_1 p:hover {
        text-decoration: none; }

  .newsart_2 {
    text-align: left;
    padding-left: 25px;
    padding-bottom: 20px; }
    .newsart_2 .pic2 {
      padding-top: 20px;
      padding-left: 10px;
      width: 15%;
      height: 27%;
      float: left; }
    .newsart_2 h3 {
      margin-top: -21px;
      margin-bottom: 15px;
      padding-left: 25px;
      padding-right: 40px;
      width: 85%;
      float: right;
      text-align: justify; }
    .newsart_2 h4 {
      margin-top: 20px;
      font-size: 1.77689em;
      font-weight: 400;
      padding-left: 25px;
      padding-right: 25px;
      width: 85%;
      float: right; }
      .newsart_2 h4::after {
        clear: both;
        content: "";
        display: table; }
    .newsart_2 p {
      text-align: left;
      font-size: 1.333em;
      font-weight: 400;
      color: #349bcc;
      padding-left: 17%; }
      .newsart_2 p:hover {
        text-decoration: none; }

  .newsart_3 {
    text-align: left;
    padding-left: 25px;
    padding-bottom: 20px; }
    .newsart_3 .pic3 {
      padding-top: 20px;
      padding-left: 10px;
      width: 15%;
      height: 27%;
      float: left; }
    .newsart_3 h3 {
      margin-top: -21px;
      margin-bottom: 15px;
      padding-left: 25px;
      padding-right: 40px;
      width: 85%;
      float: right;
      text-align: justify; }
    .newsart_3 h4 {
      margin-top: 20px;
      font-size: 1.77689em;
      font-weight: 400;
      padding-left: 25px;
      padding-right: 25px;
      width: 85%;
      float: right; }
      .newsart_3 h4::after {
        clear: both;
        content: "";
        display: table; }
    .newsart_3 p {
      text-align: left;
      font-size: 1.333em;
      font-weight: 400;
      color: #349bcc;
      padding-left: 17%; }
      .newsart_3 p:hover {
        text-decoration: none; }

  .newsart_4 {
    text-align: left;
    padding-left: 25px;
    padding-bottom: 20px; }
    .newsart_4 .pic4 {
      padding-top: 20px;
      padding-left: 10px;
      width: 15%;
      height: 27%;
      float: left; }
    .newsart_4 h3 {
      margin-top: -21px;
      margin-bottom: 15px;
      padding-left: 25px;
      padding-right: 40px;
      width: 85%;
      float: right;
      text-align: justify; }
    .newsart_4 h4 {
      margin-top: 20px;
      font-size: 1.77689em;
      font-weight: 400;
      padding-left: 25px;
      padding-right: 25px;
      width: 85%;
      float: right; }
      .newsart_4 h4::after {
        clear: both;
        content: "";
        display: table; }
    .newsart_4 p {
      text-align: left;
      font-size: 1.333em;
      font-weight: 400;
      color: #349bcc;
      padding-left: 17%; }
      .newsart_4 p:hover {
        text-decoration: none; }

  .link_1 {
    text-align: center;
    padding-bottom: 40px; }
    .link_1 .pic1 {
      width: 200px; }
    .link_1 h3:hover {
      color: #349bcc; }

  .link_2 {
    text-align: center;
    padding-bottom: 40px; }
    .link_2 .pic2 {
      width: 200px;
      height: 150px; }
    .link_2 h3:hover {
      color: #349bcc; }

  .link_3 {
    text-align: center;
    padding-bottom: 40px; }
    .link_3 .pic3 {
      width: 200px; }
    .link_3 h3:hover {
      color: #349bcc; }

  .link_4 {
    text-align: center;
    padding-bottom: 40px; }
    .link_4 .pic4 {
      width: 200px;
      height: 170px; }
    .link_4 h3:hover {
      color: #349bcc; }

  .contact {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px; }

  .footer {
    padding-left: 32%; }
    .footer h3 {
      text-align: center;
      font-size: 14px;
      width: 500px; }

  .quotes p {
    padding-left: 456px; }

  .coming-soon {
    text-align: center;
    padding-top: 40px; }

  .nav-bar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 0px;
    position: fixed; }
    .nav-bar:last-child {
      margin-right: 0; }
    .nav-bar::after {
      clear: both;
      content: "";
      display: table; }
    .nav-bar .logo {
      width: 100%;
      text-align: center; }
      .nav-bar .logo p {
        color: #349bcc;
        font-size: 0.56278em;
        margin-right: 0px;
        font-weight: 900; }

  nav {
    display: block; }
    nav::after {
      clear: both;
      content: "";
      display: table; }
    nav .nav-list {
      display: block; }
    nav button {
      visibility: hidden; }
    nav ul {
      font-family: Josefin Sans;
      width: 100%;
      text-align: center;
      padding-left: 0px;
      margin: 0px;
      padding-bottom: 10px; }
      nav ul::after {
        clear: both;
        content: "";
        display: table; }
    nav li {
      padding: 0px 10px;
      font-size: 0.56278em;
      border-right: 2px solid #349bcc;
      display: inline; }
      nav li:last-child {
        border-right: none; }
      nav li a {
        color: white;
        padding-left: 3px;
        padding-right: 5px;
        font-size: 18px;
        text-decoration: none; }
      nav li a:hover {
        color: #349bcc; }

  .nav-bar .logo {
    width: auto;
    padding-left: 30px;
    float: left; }
    .nav-bar .logo p {
      color: #349bcc;
      font-size: 20px;
      margin-right: 0px; }

  nav {
    float: right; }
    nav ul {
      font-family: Josefin Sans;
      font-size: 14px;
      height: 1em;
      width: 100%;
      /* padding: 15px 0px;*/ }
    nav li {
      padding: 0px 10px;
      display: inline;
      float: left;
      display: inline;
      font-size: 1em;
      font-weight: 100; }
      nav li:first-child {
        padding-left: 0px; }
      nav li:last-child {
        padding-right: 28px; }

  .schedule {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .schedule:last-child {
      margin-right: 0; }

  .orch .orch-pic {
    padding-top: 15px;
    text-align: center; }
  .orch h3 {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 24px; }

  .schedule {
    padding-left: 130px;
    padding-right: 130px; }
    .schedule .sections .top-dates {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      font-size: 24px;
      text-align: center; }
      .schedule .sections .top-dates:last-child {
        margin-right: 0; }
      .schedule .sections .top-dates:after {
        content: ' ';
        max-width: initial;
        display: block;
        height: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: #349bcc; }
    .schedule .sections .top-location {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      font-size: 24px;
      text-align: center; }
      .schedule .sections .top-location:last-child {
        margin-right: 0; }
      .schedule .sections .top-location:after {
        content: ' ';
        max-width: initial;
        display: block;
        height: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: #349bcc; }
    .schedule .sections .top-venue {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      font-size: 24px;
      text-align: center; }
      .schedule .sections .top-venue:last-child {
        margin-right: 0; }
      .schedule .sections .top-venue:after {
        content: ' ';
        max-width: initial;
        display: block;
        height: 3px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: #349bcc; }
    .schedule .dates {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center;
      font-size: 15px; }
      .schedule .dates:last-child {
        margin-right: 0; }
    .schedule .location {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center;
      font-size: 15px; }
      .schedule .location:last-child {
        margin-right: 0; }
      .schedule .location h3 {
        padding-top: 4px; }
    .schedule .venue {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center;
      font-size: 15px; }
      .schedule .venue:last-child {
        margin-right: 0; }
      .schedule .venue h3 {
        padding-bottom: 4px; }

  .ace {
    text-align: center;
    padding-top: 130px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 20px; }
    .ace img {
      padding-top: 150px; }
    .ace h3 {
      text-align: justify; } }

/*# sourceMappingURL=style.css.map */
